:root {
    --color-primary: #A9A9A9;
    --color-secondary: #404040;
    --font-family: "Georgia" sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--font-family);
    
    color: #333;
    line-height: 1.6;
}

header {
    background-color: var(--color-secondary);
    padding-top: 10px;
    text-align: start;
    font-family: var(--font-family);
    color: white;
}
header h1 {
    margin-bottom: 40px;
}

h1 {
    font-size: 20px;
}
nav {
    display: flex;
    justify-content: center;
    gap: 7rem;
    background-color: black;
    color: white;
    padding: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-content {
   flex: 2;
   background-color: var(--color-primary);
   padding: 0 20px 200px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.aside-content {
    flex: 1;
    background-color: white;
    padding: 0 20px 200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer {
    background-color: var(--color-secondary);
    padding: 0 20px 200px;
    color: white;
    text-align: center;
    font-size: 20px;
}