body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #005a9c;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: 0.3s, color 0.3s; 
}

nav a:hover {
    background-color: #ffffff; 
    color: #005a9c; 
    border-radius: 5px; 
}


.temple-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

figure {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
    background: #fafafa;
}

figure img {
    width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width: 900px) {
    .temple-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .temple-grid {
        grid-template-columns: 1fr;
    }

    header {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    nav a {
        font-size: 0.9rem;
        padding: 0.25rem 0.5rem;
    }
}
