/* ====== GENERAL ====== */
:root {
  --font-heading: "Playfair Display", serif;
  --font-body: "Roboto", sans-serif;

  --color-bg: #f7f7f7;
  --color-text: #111;
  --color-header: #ffffff;
  --color-accent: #e0e0e0;

  --max-width: 800px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-bg);
  font-family: var(--font-body);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*====Header=====*/
header {
  width: 100%;
  max-width: var(--max-width);
  padding: 1rem;
  background: var(--color-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-family: var(--font-heading);
  margin: 0;
  
}

#hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  display: block; 
}

nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

nav a {
  text-decoration: none;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  color: #333;
}

nav a:hover {
  background: var(--color-accent);
}
/*===Main====*/
main {
  width: 100%;
  max-width: var(--max-width);
  padding: 1rem;
  margin: 0 auto;
}

main h1 {
  margin-top: 0;
  font-family: var(--font-heading);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

figure {
  margin: 0;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  
}

.temple-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

figure img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

figcaption {
  padding: 0.8rem;
  font-size: 0.95rem;
}

/*=====Footer====*/
footer {
  width: 100%;
  max-width: var(--max-width);
  text-align: center;
  padding: 1.5rem 1rem;
  margin-top: 2rem;
  border-top: 1px solid #ddd;
}
